.wrapper {
  padding: 1rem;
  border: black solid 1px;
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image {
  width: 200px;
  height: 200px;
  min-height: 300px;
  object-fit: cover;
}

.imagePlaceholder {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
